<html>

<style>
body{
    background-color: whitesmoke;
}
</style>

<body>

{% block body %}
    <h1 align="center">Webpage Analyzer</h1>
    <h3>Current Urls To Search</h3>
    <ul>
    {% for site in sites %}
        <li>{{ site.url }}</li>
    {% endfor %}
    </ul>

<div align="center">


<form method="post" action="/">
    {% csrf_token %}

    <label for="search_word">Type a word to search</label>
        <br>
    <textarea autocomplete="off" name="search_word" id="search_word"></textarea>
        <br>

    <label for="new_url">Add a site to search</label>
        <br>
    <textarea autocomplete="off" name="new_url" id="new_url"></textarea>

        <br>

    <input type="submit" value="Search">

        <br>
</form>
    {% if was_search %}
    <h3>Results</h3>
    <ol>
    {% for site in sites %}
        <li>{{ site.url }} {% if site.was_searched %}: {{ site.count }} {% endif %}</li>
    {% endfor %}
    </ol>
    <br>
    <h4>Average: {{ average }}</h4>
    {% endif %}
</div>

{% endblock %}
</body>

</html>