{% block body %}

<form method="post" action="/home/">
                {% csrf_token %}
    <div class="container" id="container">
        <div id="input" class="row">
            <div class="input-field col s12">
                <label for="search_word">Type a word to search</label>
                <br>
                <textarea autocomplete="off" name="search_word"></textarea>
            </div>
            <br>
            <input type="submit" value="Search">
        </div>

        {% for line in outputs %}
        {{ line }}<br>
        {% endfor %}
    </div>
</form>


{% endblock %}